body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #0a0a0a, #333);
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: rgba(255,255,255,.1);
}


nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: block;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.container {
    padding: 20px;
    max-width: 800px;
    margin: 40px auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group textarea
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    }
    
    .order-history, .order-tracking {
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding-top: 10px;
    }
    
    .order, .tracking {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    }
    
    .order span, .tracking span {
    display: block;
    margin-bottom: 5px;
    }
    
    h2, h3 {
    color: #333;
    margin-top: 0;
    }
    @media (max-width: 768px) {
        .navbar-nav {
            flex-direction: row;
            justify-content: space-around;
        }
    }
    
    /* Responsive adjustments
    @media (max-width: 768px) {
    nav ul li {
    display: block;
    margin: 10px 0;
    }
    .container {
        padding: 20px;
    } */
    
